@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

/* 1. Define the variable in :root so JavaScript can update it */
:root {
  --color-primary: #4d48e5; /* Default Indigo */
}

@theme static {
  /* 2. Tell Tailwind to use the CSS variable */
  --color-primary: var(--color-primary);
  
  /* Keep your other static colors */
  --color-base: #0A0F0D;
  --color-secondary: #121121;
  
  /* You can also make these dynamic if you want, or leave them static */
  --color-primary-50: #eff0fe;
  --color-primary-100: #e0e1fd;
  --color-primary-200: #c2c5fb;
  --color-primary-300: #959af7;
  --color-primary-400: #6468f1;
  --color-primary-500: #4d48e5;
  --color-primary-600: #3d34d9;
  --color-primary-700: #3228bd;
  --color-primary-800: #2a2498;
  --color-primary-900: #262378;
  --color-primary-950: #171446;
}

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-base);
  color: white;
}